body {
  font-family: Roboto, Arial, sans-serif;
}

.copyBtn {
  float: right;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.streamTitle {
  margin-bottom: 0;
}

.streamViews {
  font-size: 16px;
  color: #606060;
  margin-bottom: 0;
}

.streamTime {
  margin-bottom: 24px;
  color: gray;
  font-size: 13px;
}

.extra {
  color: gray;
  font-size: 13px;
}

.extra > span:not(:last-of-type)::after {
  content: '•';
  margin: 0 4px;
}

.extra span {
  line-height: 18px;
}

a span {
  color: black !important;
}