.copyBtn {
  float: right;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.streamTitle {
  margin-bottom: 0;
}

.streamTime {
  margin-bottom: 24px;
  color: gray;
  font-size: 13px;
}

.extra {
  color: gray;
  font-size: 13px;
}